$mainBgColor: #14213d;
$mainFontColor: #D8C7B6;

$weaponBgLightGrad: #E3E3E3;
$weaponBgDarkGrad: #8B8C8B;

$minNavHeight: 53px;
$exceedinglyRare: #CFB017;
$covertDarkColor: #6C373B;
$covertLightColor: #E94E4E;
$classifiedDarkColor: #652A69;
$classifiedLightColor: #CF2EE2;
$restrictedDarkColor: #3B295F;
$restrictedLightColor: #723CD2;
$milSpecDarkColor: #333D76;
$milSpecLightColor: #4664ED;


@mixin mainHover($borderWidth) {
    border: $borderWidth solid $mainFontColor;
    cursor: pointer;
    transition: .3s background-color linear;
    &:hover {
        background-color: $mainFontColor;
        color: $mainBgColor;
    }
}

.exceedinglyRare {
    background-color: $exceedinglyRare;
}
.covert {
    background: linear-gradient(45deg, $covertLightColor, $covertDarkColor);
}
.classified {
    background: linear-gradient(45deg, $classifiedLightColor, $classifiedDarkColor);
}
.restricted {
    background: linear-gradient(45deg, $restrictedLightColor, $restrictedDarkColor);
}
.milSpec {
    background: linear-gradient(45deg, $milSpecLightColor, $milSpecDarkColor);
}