@import './abstracts.scss';

.nav {
    margin-top: 10px;
    padding: 0 10%;
    display: flex;
    min-height: $minNavHeight;
    display: flex;
    justify-content: center;
    .logoContainer {
        cursor: pointer;
        padding: 0 10px;
        @include mainHover(2px);
        .logo {
            font-size: 40px;
            font-style: italic;
            letter-spacing: 10px;
            font-weight: 800;
        }
    }
    .linksContainer {
        font-size: 18px;
        height: 100%;
        min-height: $minNavHeight;
        display: flex;
        .link {
            padding: 0 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 2px solid $mainBgColor;
            &:hover {
                border: 2px solid $mainFontColor;
            }
        }
    }
}