@import './abstracts.scss';

.postContainer {
    padding: 10px 20px;
    width: 70%;
    margin: 10px auto;
    @include mainHover(1px);
}
.header {
    margin-bottom: 20px;
}

@media(max-width: 600px) {
    .postContainer {
        width: 95%;
    }
}